@charset "utf-8";
/* CSS Document */
ol, ul, p{ padding: 0; margin: 0; list-style: none}
a{ text-decoration: none}

@font-face{
	font-family: quantico; 
	src: url("../Fonts/Quantico-Regular.ttf")
}
@font-face{
	font-family: opensan-r; src: url("../Fonts/OpenSans-VariableFont_wdth,wght.ttf")
}

body, input, output{font-family: opensan-r}
.bg-top{background-color: #eee}
.top-left p{font-size: 14px; color: #000; line-height: 50px}
.top-right ul li{padding: 0 10px;}
.top-right ul li i{ color: #252525; line-height: 50px; font-size: 16px }
.w-20{width: 20%}
.w-80{width: 80%}
.w-100{width: 100%}
#banner .carousel-caption{
	left: 10%; top: 40%; text-align: left; width: 40%
	
}
#banner .carousel-caption h2{color: #FF5151; font-family: quantico; text-transform: capitalize}
#banner .carousel-caption h1{font-size: 40px; font-family: quantico; color: #1F2226; text-transform: capitalize}
#banner .carousel-caption p{color: #333; font-size: 16px; line-height: 26px; padding-right: 200px}
.btn-shopnow{width: 140px; height: 40px; border: 1px solid #000; font-size: 14px; color: #1F2226; background: none; text-transform: uppercase}
.btn-play i{ font-size: 40px; color: #FF5151; line-height: 40px; padding-top: 20px}
.btn-play{ color: #FF5151; font-size: 20px; font-weight: 600; text-transform: uppercase; line-height: 40px; }
#banner .carousel-indicators [data-bs-target]{background-color: #FF5151; opacity: 1; width: 10px; height: 10px; border-radius: 5px; border: none}
#banner .carousel-indicators .active{ background-color: #882828}
.service-content h3{font-family: quantico; font-size: 18px; color:#242424; text-transform:capitalize; margin: 28px 0 0 0;}
.service-content p{font-size: 16px; color: #757575;}
.services{margin-top: 70px}
.service-item{max-width: 100%} 
.tag-sale{position: absolute; top: 20px; right: 20px}
.pr-item{margin-bottom: 24px}
.pr-img{position: relative}
.timer
{
	width:90%;
	position: absolute;
	bottom: 0; left: 5%; opacity: 0
}
.timer ul
{
	list-style:none;
	display:flex;	
	padding:0;
	margin:0;
}
.timer ul li
{
	margin:5px;
}
.timer span {
  display: block;
  font-size: 12px;
  font-family: opensan-r; font-weight: normal;
}

.days, .hours, .minutes, .seconds {
  font-size: 14px;
  color: #fff; font-family: quantico; font-weight: bold;
  width:60px;
  height:60px;
  background-color:#000;
  float:left;  
  padding-top:10px;
  box-sizing:border-box;
  text-align:center;
}
.pr-item:hover .timer{opacity: 1; transition: all 1s linear}
.pr-item{border: 1px solid #ccc; padding: 2px 2px 30px 2px}
.tag-sale p {color: #000; font-size: 13px; font-weight: 600; text-transform: uppercase; text-align: center}
.pr-type{font-size: 14px;color: #333}.old-price{ color: #333; margin-right: 16px; line-height: 30px}
.new-price{font-size: 20px; line-height: 30px; color: #FF5151}
.section-tittle{text-align: center; padding-top: 70px; padding-bottom: 50px  }
.section-tittle h1{color: #B73032; font-family: quantico}
.section-tittle p{ font-family: opensan-r}
@media screen and (max-width: 1399px){
	#banner .carousel-caption{top: 20%; width: 70%}
}

@media screen and (max-width: 1199px){
	#banner .carousel-caption{top: 10%}
	.days, .hours, .minutes, .seconds {width: 40px; height: 40px}
}

@media screen and (max-width: 992px){
	#banner .carousel-caption h1{font-size: 50px}
	#banner .carousel-caption p{padding-right: 0px}
	#banner .carousel-caption{top: 5%}
	.service-content h3 {margin: 0}
}

@media screen and (max-width: 767px){
	.service-content h3 {margin-top: 20px}
}

@media screen and (max-width: 570px){
	.top-left p{font-size: 12px}
	.top-right ul li i{padding: 0 5px}
	#banner .carousel-caption h1{font-size: 30px}
	#banner .carousel-caption h2{padding-right: 20px}
	#banner .carousel-caption p{display: none}
	#banner .carousel-caption {width: 90%;left: 20px; padding: 10px 0}
}



